<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<body>
  <main id="main" class="main" layout:fragment="body">

    <div class="pagetitle">
      <h1 th:text="${titulo}"></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin}">Menu</a></li>
          <li class="breadcrumb-item active">Aulas</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
  
    <section class="section dashboard">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <h5 class="card-title" th:text="${titulo}"></h5>
            <a type="button" th:href="@{aulas/crear}" class="btn btn-primary ms-auto">Crear</a>
          </div>
          <p class="m-1"></p>

          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col"># Aula</th>
                  <th scope="col">Alias</th>
                  <th scope="col">Edificio</th>
                  <th scope="col">Localización</th>
                  <th scope="col">Disponible</th>
                  <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="aula: ${aulas}">
                  <td th:text="${aula.id}"></td>
                  <td th:text="${aula.numaula}"></td>
                  <td th:text="${aula.alias == null ? '' : aula.alias}"></td>
                  <td th:text="${aula.edificio}"></td>
                  <td th:text="${aula.geolocal}"></td>
                  <td th:text="${aula.disponible == true ? 'Sí' : 'No'}"></td>
                  <td>
                      <a type="button" th:href="@{aulas/editar/} + ${aula.id}" class="btn btn-secondary">Editar</a>
                      <a type="button" th:href="@{aulas/eliminar/} + ${aula.id}" onclick="return confirm('¿Desea eliminar este registro?');" class="btn btn-danger">Eliminar</a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
</body>

</html>