<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<body>
  <main id="main" class="main" layout:fragment="body">

    <div class="pagetitle">
        <h1 th:text="${titulo}"></h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/admin}">Menu</a></li>
            <li class="breadcrumb-item active">Aulas</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
  
    <section class="section dashboard">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h5 class="card-title" th:text="${titulo}"></h5>
                    <a type="button" th:href="@{/admin/horario}" class="btn btn-secondary ms-auto">Cancelar</a>
                </div>
                <p class="m-1"></p>
                
                <!-- Multi Columns Form -->
                <form class="row g-3 needs-validation" th:action="@{/admin/horario/guardar}" method="post" th:object="${asigaula}" novalidate>
                  <input th:if="${asigaula.id != 0}" type="hidden" th:field="*{id}">
                    <div class="col-md-6">
                        <label for="id_materias" class="form-label">Materia</label>
                        <select th:field="*{id_materias}" id="id_materias" class="form-control">
                            <option th:each="materia : ${materias}" th:value="${materia.id}" th:text="${materia.nombre}"></option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="id_aula" class="form-label">Aula</label>
                        <select th:field="*{id_aula}" id="id_aula" class="form-control">
                            <option th:each="aula : ${aulas}" th:value="${aula.id}" th:text="${aula.numaula}"></option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="dia" class="form-label">Dia</label>
                        <select th:field="*{dia}" id="id_aula" class="form-control">
                            <option th:value="1" th:text="Lunes"></option>
                            <option th:value="2" th:text="Martes"></option>
                            <option th:value="3" th:text="Miercoles"></option>
                            <option th:value="4" th:text="Jueves"></option>
                            <option th:value="5" th:text="Viernes"></option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inicio" class="form-label">Hora inicial</label>
                        <input type="time" class="form-control" th:field="*{inicio}">
                    </div>
                    <div class="col-md-6">
                        <label for="fin" class="form-label">Hora inicial</label>
                        <input type="time" class="form-control" th:field="*{fin}">
                    </div>
                    <div>
                        <input type="submit" class="btn btn-success" value="Guardar">
                    </div>
                </form><!-- End Multi Columns Form -->
            </div>
        </div>
    </section>


  </main><!-- End #main -->
</body>

</html>